<table class="table table-bordered" id="ExtentsTable">
    <thead>
        <tr>
            <th scope="col">S.No.</th>
            <th scope="col">Name Of the Village</th>
            <th scope="col">Survey No</th>
            <th scope="col">Extents in Acres</th>
            <th scope="col">P/F</th>
        </tr>
    </thead>
    <tbody id="TableBodyForExtentsId">

    </tbody>
    <tfoot>
        <tr>
            <th style="text-align: right;" colspan="3">Total Extent in Acres : </th>
            <th id="ExtentTotalId"></th>
        </tr>
    </tfoot>
</table>