
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-6">2)Who is the actual title folder of the scheduled Property and mortgager</div>
                    <div class="col-1">:</div>
                    <div class="col-5">
                        <a href="#" id="Name2Id"> Abbireddy Yedukondalu</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-6">3)Who should mortgage the property in favour
                        of the bank in case of sanction of loan
                    </div>
                    <div class="col-1">:</div>
                    <div class="col-5">
                        <a href="#" id="propertyFavourId">Abbireddy Yedukondalu</a>
                    </div>
                </div>
            </div>

           
        </div>