<div class="row mb-3">
    <div class="col-2">
        <h5>Page-3:</h5>
    </div>
    <div class="col-10">
        <input type="text" class="form-control" name="" id="Page3" aria-describedby="helpId" placeholder="">
    </div>
</div>

<div class="row mb-3">
    <div class="col-2">
        <h5>Page-3 SecondRow :</h5>
    </div>
    <div class="col-10">
        <input type="text" class="form-control" name="" id="Page3SecondRow" aria-describedby="helpId" placeholder="">
    </div>
</div>

<div class="row mb-3">
    <div class="col-2">
        <h5>Page-3 Enlisted documents:</h5>
    </div>
    <div class="col-10">
        <input type="text" class="form-control" name="" id="Page3EnlistedDocuments" aria-describedby="helpId" placeholder="">
    </div>
</div>

<div class="row mb-3">
    <div class="col-2">
        <h5>Page-3 Amout of Rs :</h5>
    </div>
    <div class="col-10">
        <input type="text" class="form-control" name="" id="P3Amout" aria-describedby="helpId" placeholder="">
    </div>
</div>

<div class="row mb-3">
    <div class="col-2">
        <h5>Page-3 Minor :</h5>
    </div>
    <div class="col-10">
        <input type="text" class="form-control" name="" id="P3Minor" aria-describedby="helpId" placeholder="">
    </div>
</div>

<div class="row mb-3">
    <div class="col-2">
        <h5>Page-3 GPA :</h5>
    </div>
    <div class="col-10">
        <input type="text" class="form-control" name="" id="P3GPA" aria-describedby="helpId" placeholder="">
    </div>
</div>