<div class="row">
    <div class="col">
        <div class="row">
            <div class="col-6">L.A. No</div>
            <div class="col-1">:</div>
            <div class="col-5">
                <a href="#" id="NumberId">12/2022-23</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="col-6">Purpose1</div>
            <div class="col-1">:</div>
            <div class="col-5">
                <a href="#" id="PurposeId">ST OTHERS</a>
            </div>
        </div>
        <div class="row">
            <div class="col-6">Purpose2</div>
            <div class="col-1">:</div>
            <div class="col-5">
                <a href="#" id="PurposeId1">ST OTHERS</a>
            </div>
        </div>
        <div class="row">
            <div class="col-6">Purpose3</div>
            <div class="col-1">:</div>
            <div class="col-5">
                <a href="#" id="PurposeId2">ST OTHERS</a>
            </div>
        </div>
        <div class="row">
            <div class="col-6">Purpose4</div>
            <div class="col-1">:</div>
            <div class="col-5">
                <a href="#" id="PurposeId3">ST OTHERS</a>
            </div>
        </div>
    </div>
</div>
