<div class="row">
    <div class="col">
        <div class="row">
            <div class="col-6">Name of the DCCB Branch</div>
            <div class="col-1">:</div>
            <div class="col-5">
                <a href="#" id="BranchId" value="">U.Kothapalli</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="col-6">Name of the PACS </div>
            <div class="col-1">:</div>
            <div class="col-5">
                <a href="#" id="NameId">U.Nagulapalli</a>
            </div>
        </div>
    </div>
</div>